<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<% include _include/menu %>
<hr/>
<form action="/user/signin" method="post">
    Username<input type="text" name="user[name]"/> <br/>
    Password<input type="password" name="user[password]"/> <br/>
    <input type="submit" value="登入"/>
</form>

</body>
</html>